<% content_for :title do %>
    Planner | 
<% end %>

<h1 class="visually-hidden">Planner</h1>

<% if @next.present? %>

    <h2 class="subheading no-top-margin">Next up</h2>

    <ol class="tile-list">
        <%= render "shared/tile", o: @next %>
    </ol>

    <% if @upcoming.any? %>
        <h2 class="subheading">Due later</h2>

        <ol class="tile-list">
            <% @upcoming.each do |t| %>
                <%= render "shared/tile", o: t %>
            <% end %>
        </ol>
    <% end %>

<% else %>
    <div class="no-results">
        <h2>You haven’t claimed any tasks yet</h2>
        <p>Tasks you claim will appear here.</p>
        <p><%= link_to "See available tasks", tasks_path, class: "button button--outline" %></p>
    </div>
<% end %>


<% if @recently_completed.any? %>
    <h2 class="subheading">Recently completed</h2>
    <ol class="tile-list">
        <% @recently_completed.each do |t| %>
            <%= render "shared/tile", o: t %>
        <% end %>
    </ol>
<% end %>