<h1>Services</h1>

<%= link_to "Add a service", new_organiser_service_path %>

<ul>
    <% @services.each do |s| %>
        <li>
            <h2><%= link_to s.name, organiser_service_path(s) %></h2>
            <p>£<%= s.price %></p>
        </li>
    <% end %>
</ul>