<% if current_user %>
    <nav class="app-navigation">
        <ul class="container">
            <%= render "shared/volunteer/nav_link", link_text: "Planner", link_path: volunteer_root_path %>
            <%= render "shared/volunteer/nav_link", link_text: "Tasks", link_path: volunteer_tasks_path %>
            <%= render "shared/volunteer/nav_link", link_text: "Receipts", link_path: volunteer_receipts_path %>
            <%= render "shared/volunteer/nav_link", link_text: "Profile", link_path: edit_user_registration_path %>
        </ul>
    </nav>
<% end %>