<h1 class="visually-hidden">Planner</h1>

<% if @tasks.any? %>
<ol class="tile-list">
    <h2>Next up</h2>
    <% @tasks.each_with_index do |t, i| %>
        <% if i === 1 %>
            <h2>Due later</h2>
        <% end %>
        <%= render "shared/volunteer/tile", o: t %>
    <% end %>
<ol>
<% else %>
    <p>There's nothing in your planner yet</p>
    <p><%= link_to "See available tasks", volunteer_tasks_path %></p>
<% end %>