.auk-flash{
    padding: 25px;
    background: transparentize(govuk-colour("blue"), 0.75);
    border-left: 7px solid govuk-colour("blue");
    margin-bottom: 35px;

    *{
        margin: 0;
    }

    &--alert{
        background: transparentize(govuk-colour("yellow"), 0.75);
        border-left: 7px solid govuk-colour("yellow");
    }
}