<li class="govuk-!-margin-bottom-2">
    <%= link_to_unless_current link_text, link_path, class: "govuk-link govuk-link--no-visited-state" do %>
        
        <a href="<%= link_path %>" class="govuk-link govuk-link--no-visited-state">
            <strong><%= link_text %></strong>
        </a>
    <% end %>
</li>