<h2 class="govuk-heading-m">At a glance</h2>

<dl class="auk-statboxes govuk-!-margin-bottom-6">
  <div class="auk-statboxes__box">
    <dd class="govuk-body-l auk-statboxes__value">XX</dd>
    <dt class="govuk-body-s auk-statboxes__caption">statistic here</dt>
  </div>
  <div class="auk-statboxes__box">
    <dd class="govuk-body-l auk-statboxes__value">XX</dd>
    <dt class="govuk-body-s auk-statboxes__caption">statistic here</dt>
  </div>
</dl>

<h2 class="govuk-heading-m">In the last 30 days</h2>

<dl class="auk-statboxes govuk-!-margin-bottom-6">
  <div class="auk-statboxes__box">
    <dd class="govuk-body-l auk-statboxes__value">XX</dd>
    <dt class="govuk-body-s auk-statboxes__caption">statistic here</dt>
  </div>
  <div class="auk-statboxes__box">
    <dd class="govuk-body-l auk-statboxes__value">XX</dd>
    <dt class="govuk-body-s auk-statboxes__caption">statistic here</dt>
  </div>
  <div class="auk-statboxes__box">
    <dd class="govuk-body-l auk-statboxes__value">XX</dd>
    <dt class="govuk-body-s auk-statboxes__caption">statistic here</dt>
  </div>
</dl>