.field{
    margin-bottom: 25px;

    label{
        display: block;
        margin-bottom: 5px;
    }
    
    input{
        width: 100%;
        padding: 12px;
        font-size: 1.2rem;
        background: transparentize($bright-blue, 0.95);
        border: none;
        border-bottom: 1px solid $bright-blue;

        &:focus{
            outline: none;
            border-color: $yellow;
            background: transparentize($yellow, 0.9);
        }
    }

    &__hint{
        font-size: 0.85rem;
        color: transparentize($black, 0.25);
        margin-top: 10px;
    }
}