.field{
    margin-bottom: 25px;

    &--code{
        input{
            max-width: 150px;
            font-size: 1.5rem !important;
            letter-spacing: 1px;
        }
    }

    label{
        display: block;
        margin-bottom: 5px;
    }
    
    input[type=text]{
        width: 100%;
        padding: 12px;
        font-size: 1.2rem;
        background: transparentize($bright-blue, 0.95);
        border: none;
        border-bottom: 1px solid $bright-blue;

        &:focus{
            outline: none;
            border-color: $yellow;
            background: transparentize($yellow, 0.9);
        }
    }

    &__hint{
        font-size: 0.85rem;
        color: transparentize($black, 0.25);
        margin-top: 10px;
    }
}

.sort-picker{
    appearance: none;
    background: none;
    color: $black;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
    text-align: right;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.00001 5.5858L1.70712 0.292908L0.292908 1.70712L7.00001 8.41423L13.7071 1.70712L12.2929 0.292908L7.00001 5.5858Z' fill='%231A2447'/%3E%3C/svg%3E%0A");
    &:focus{
        outline: 3px solid $yellow;
    }
}