*{
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, li, label, input{
    color: $black;
}

p{
    line-height: 1.5;
}

body{
    background: $pale;
}