.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.app-layout{
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));
    display: flex;
    flex-direction: column;
}


.app-header{
    padding: 15px 3vw;
    a:focus{
        outline: 3px solid $yellow;
    }
    img{
        max-width: 120px;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &--centred{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 3vw;
        img{
            max-width: 200px;
        }

    }
}

.app-wrapper{
    flex: 1;
    padding: 0px 3vw;
    overflow-y: scroll;
}

.app-scrollable{
    position: relative;
    padding-bottom: 15px;
    min-height: 100%;
    *:first-child{
        margin-top: 0px;
    }
}

.subheading{
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}

.styled-link{
    color: $bright-blue;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        color: $black;
        outline: 3px solid $yellow;
        background: $yellow;
    }
}

.no-top-margin{
    margin-top: 0;
}