.shortcut-nav{
    padding: 10px 3vw 20px 3vw;
    a{
        display: inline-block;
        margin-right: 7px;
        font-size: 1.2rem;
        text-decoration: none;
        color: $black;
        &:focus{
            background: $yellow;
            outline: 3px solid $yellow;
        }
    }
}