.tile-list{
    margin: 0px;
    list-style: none;
    padding-left: 0;
}

.tile{
    background: $white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 20px transparentize($black, 0.9);
    margin-bottom: 15px;
    position: relative;

    &:last-child{
        margin-bottom: 0px;
    }

    &--clickable{
        border-left: 5px solid $bright-blue;
        transition: box-shadow 0.1s ease-out;
        &:hover{
            box-shadow: 0px 4px 20px transparentize($black, 0.8);   
        }

        a{
            color: $black;
            text-decoration: none;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: -5px;
                right: 0;
                height: 100%;
                display: block;
                border-radius: 5px;
            }
    
            &:focus{
                outline: none;
                &:before{
                    box-shadow: 0px 0px 0px 3px $yellow;
                }
            }
        }
    }

    &--urgent{
        border-color: $red;
    }


    *:first-child{
        margin-top: 0;
    }

    *:last-child{
        margin-bottom: 0;
    }
}