@import "normalise";
@import "leaflet/dist/leaflet.css";

@import "vars";
@import "globals";
@import "navigation";
@import "tile";
@import "button";
@import "tag";
@import "flash";
@import "field";
@import "shortcut-nav";
@import "map";

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.app-layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-header{
    padding: 15px 3vw;
    a:focus{
        outline: 3px solid $yellow;
    }
    img{
        max-width: 120px;
    }
}

.app-wrapper{
    flex: 1;
    padding: 0px 3vw;

    *:first-child{
        margin-top: 0px;
    }
}

.subheading{
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}