<% content_for :title do %>
    Check your email | 
<% end %>

<div class="tile">
    <h1>Check your email</h1>

    <p>We need to check that you can access this email address.</p>
    <p>Click the link we sent to finish signing in.</p>
    <p>It will be valid for <strong>30 minutes</strong>.</p>
</div>