<% content_for :title do %>
    Sign in | 
<% end %>

<%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path, html: { class: "tile" } do |f| %>

  <% email_field_name = :"passwordless[#{@email_field}]" %>

  <p>To sign in, enter the email address you use with Age UK.</p>

  <div class="field">
    <%= label_tag email_field_name, "Email address" %>
    <%= text_field_tag email_field_name, params.fetch(email_field_name, nil), required: true %>
  </div>

  <%= f.submit "Continue", class: "button" %>
  
<% end %>